<%= form_with(model: appraisal, local: true) do |form| %>
  <% if appraisal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appraisal.errors.count, "error") %> prohibited this appraisal from being saved:</h2>

      <ul>
      <% appraisal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :technical_skills %>
    <%= form.text_field :technical_skills, id: :appraisal_technical_skills %>
  </div>

  <div class="field">
    <%= form.label :communication_skills %>
    <%= form.text_field :communication_skills, id: :appraisal_communication_skills %>
  </div>

  <div class="field">
    <%= form.label :inter_personal_skills %>
    <%= form.text_field :inter_personal_skills, id: :appraisal_inter_personal_skills %>
  </div>

  <div class="field">
    <%= form.label :attendance %>
    <%= form.number_field :attendance, id: :appraisal_attendance %>
  </div>

  <div class="field">
    <%= form.label :leadership %>
    <%= form.text_field :leadership, id: :appraisal_leadership %>
  </div>

  <div class="field">
    <%= form.label :self_rating %>
    <%= form.number_field :self_rating, id: :appraisal_self_rating %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, id: :appraisal_employee_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
