<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :emp_id %>
    <%= form.text_field :emp_id, id: :employee_emp_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation, id: :employee_designation %>
  </div>

  <div class="field">
    <%= form.label :superior_id %>
    <%= form.text_field :superior_id, id: :employee_superior_id %>
  </div>

  <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, id: :employee_password_digest %>
  </div>

  <div class="field">
      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation, id: :employee_password_digest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
